.font-family-size {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.line-height{
    line-height: 5;
}

.letter-spacing {
    letter-spacing: 5px;
}

.text-shadow {
    /* 
    1st value = horizal placement
    2nd value = vertical placement
    3rd value = opacity / blur effect
    */
    text-shadow: 2px 2px 1px rgba(255, 1, 255, 0.759);
}